/* Definir las reglas CSS que permiten mostrar los enlaces con los siguientes estilos: */
body {
	font-family: Arial;
}
/* 1.	En su estado normal, los enlaces se muestran de color rojo #CC0000. */
a {
	color: #cc0000;
	text-decoration: none;
}


/* 3.	Los enlaces visitados se muestran en color gris claro #CCC. */
a:visited {
	color: #ccc;
}
/* 2.	Cuando el usuario pasa su ratón sobre el enlace, se muestra con un color 
de fondo rojo #CC0000 y la letra de color blanco #FFF. */
a:hover {
	color: white;
	background-color: #cc0000;
}