/* --------------------------------
Site:       ej07
CSS author: bafi
Updated:    13/03/2017
Updated by: bafi
-------------------------------- */

/* Dados el siguiente código HTML y CSS base, crear y aplicar las siguientes transformaciones. 
Utilizar únicamente selectores específicos de CSS 3*/


/* Desplazar la primera caja 100px hacia la derecha, y 50px hacia debajo desde su posición original. */
#ex01 {
	transform: translate(100px, 50px);
	transform-origin: top left;
}
/* Incrementar el tamaño de la segunda caja, haciéndola el doble de grande.*/
#ex02 {
	transform: scale(2);
	transform-origin: top left;
}

/* Rotar la tercera caja en 45º, tanto desde su centro de coordenadas como desde la esquina superior izquierda.*/
#ex03 {
	transform: rotate(45deg);
	transform-origin: bottom left;
}
/* Crear un paralelogramo con la cuarta caja, cuyo ángulo de inclinación sea de 25º.*/
#ex04 {
	transform: skew(25deg);
	transform-origin: top left;
}