.contenedor {
    overflow: hidden; 
    margin: 20px 0 40px 20px;
}
.contenedor div {
    background-color: grey;
    float:left;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center; 
}
#F {
    height: 64px;
    width: 64px;
}
.texto span {
    color: white;
    font-family: Arial;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}
#A {
    border-bottom-right-radius: 2em; 
}
#B {
    border-bottom-right-radius: 2em 1em;
}
#C {
    border-bottom-right-radius: 1em 2em; 
}
#D {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px; 
}
#E {
    border-top-left-radius: 2em .8em;
    border-bottom-right-radius: 2em .8em;
    border-top-right-radius: .8em 2em;
    border-bottom-left-radius: .8em 2em;
}
#F {
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px; 
}
/* Introducir las nuevas reglas aqui 

Aplicar las reglas CSS necesarias para conseguir el aspecto que se muesta en la imagen 2.png contenida
en esta misma carpeta

*/

